<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'You searched for ' + ${theTitle}"></title>
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <link rel="stylesheet" th:href="@{css/post.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />

</head>
<body>
<!-- Navbar content -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
            </ul>

            <form class="d-flex" th:action="@{/processForm}" method="POST" role="search">
                <input class="form-control me-2" name="mealName" type="search" placeholder="Enter the name of the recipe" aria-label="Search" required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

    <div class="container">
        <h3>Recipe Results</h3>
    <pre th:text="'At : ' + ${theDate}"></pre>

<!--        <h2 th:text="${param.mealName}"></h2>-->
        <!--TODO - Σε περίπτωση που δε βρίσκει συνταγή να επιστρέφει σχετικό μήνυμα-->

        <th:block th:each="meal : ${theMeal}">

                <h1 th:text="${meal.strMeal}"></h1>
                <pre th:text="${meal.idMeal}"></pre>

            <img th:src="${meal.strMealThumb}" alt="Image Title"/>
<!--            TODO - Insert ingredients and Measure-->
            <ul>
                <label>
                    <input type="checkbox"  th:text="|${meal.strIngredient1} - ${meal.strMeasure1}|"/><br>
                    <input type="checkbox"  th:text="|${meal.strIngredient2} - ${meal.strMeasure2}|"/><br>
                </label>
            </ul>
            <p th:text="${meal.strInstructions}"></p>

            <form action="#" th:action="@{/recipes/saveRecipe}" th:object="${theRecipe}"  method="post"> <!-- recipes  th:href-->
                <input type="hidden" name="idMeal" th:value="${meal.idMeal}" />
                <input type="hidden" name="strMeal" th:value="${meal.strMeal}" />
                <input type="hidden" name="strMealThumb" th:value="${meal.strMealThumb}" />
                <input type="hidden" name="strIngredient1" th:value="${meal.strIngredient1}" />
                <input type="hidden" name="strIngredient2" th:value="${meal.strIngredient2}" />
                <input type="hidden" name="strMeasure1" th:value="${meal.strMeasure1}" />
                <input type="hidden" name="strMeasure2" th:value="${meal.strMeasure2}" />
                <input type="hidden" name="strInstructions" th:value="${meal.strInstructions}" />

<!-- END - Εμφάνιση του JSON response -->

<!-- TODO - Προσθήκη κουμπιού -->
        <button type="submit" class="btn btn-primary col-2">Save</button>
    </form>
        </th:block>
    </div>
</body>
</html>
