<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Results</title>
    <link rel="stylesheet" th:href="@{/style.css}" />

</head>
<body>
<h1>Recipe Results</h1>
<!-- Εμφάνιση του JSON response -->
<p th:text="'Time on the server is ' + ${theDate}"></p>
    <pre th:text="'From pre tag :' +  ${theDate}"></pre>

<!-- Προσθήκη κουμπιού -->
<form action="/api-recipes" method="post">
    <button type="submit">Save</button>
</form>
</body>
</html>
